html, body {
  height: 100%; width: 100%; margin: 0;
  overflow:scroll;
}

form {
  position: fixed;
  bottom: 0;
  border-top: 1px #2196F3 solid;
  height: 40px;
  width: 100%;
}

label#chat-name {
  height: 100%;
  color: #2196F3;
  font-size: 12px;
  width: 20%;
  display: inline;
}
input#chat-message {
  /*border: 2px black solid;*/
  height: 90%;
  width: 80%;
  display: inline;
}
input#chat-message:focus {
  border-bottom-color: black;
}
#messages {
  overflow: scroll;
  position: relative;
  height: 80%;
}
