html, body {
  height: 100%; width: 100%; margin: 0;
  overflow:hidden;
}

form {
  position: fixed;
  bottom: 0;
  border: 5px #2196F3 solid;
  height: 40px;
  width: 100%;
}

label#chat-name {
  height: 100%;
  color: #2196F3;
  width: 10%;
  display: inline;
}
input#chat-message {
  height: 100%;
  width: 50%;
  display: inline;
}
#messages {
  overflow: scroll;
  position: relative;
  height: 80%;
}
