body, html {
  overflow: hidden;
	height: 100%;
  width: 100%;
}

body {
  position: relative;
}

#logo {
  position: absolute;
  left: 50px;
  margin-top: -50px;
}

#github{
  height: 20px;
  width: 20px;
  top: 5px;
}

#addIframe {
  position: absolute;
  right: 50px;
  top: 50px;
}

iframe {
  width: 100%;
  height: 100%;
  bottom: 0;
  position: absolute;
}

.container{
  position: relative;
}

.grabbing {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.iframeContainer {
  height: 300px;
  width: 200px;
  position: absolute;
  top: 200px;
  left: 300px;
  background-color: white;
  z-index: 0;
}

.drag {
  position: absolute;
  background-image: url('assets/drag.png');
  background-size: contain;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
  top: -5px;
  right: -5px;
  width: 30px;
  height: 30px;
}

.drag:focus {
  background-color: buttonface;
}

.drag-cover {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: 1;
}
